* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .list {
        padding: 0px;
    }
}

.box {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.box:hover {
    box-shadow: 1px 0px 10px 0px rgba(34, 60, 80, 0.233);
}